{% extends 'aviastudent_templates/base.html' %}

{% block main %}
  <script src="/static/js/ws-api.js"></script>
	<script>


  
  
         aviastudentAPI.onConnected = function()
                             {
                               console.log('ws aviastudentAPI connected')
                               
                             }

        aviastudentAPI.onDisconnected = function()
                                           {
                                             console.log('ws aviastudentAPI disconnected')
                                         }

    aviastudentAPI.onRawMessage = function(msg)
                          {
                                                           // console.log('Raw ws msg: ', msg)
                    }
         aviastudentAPI.onLoggedIn = function()
                          {
                                            $('#logoutBtn').show()
                                            $('#loginBtn').hide()
                                    }

            aviastudentAPI.onLoggedOut = function()
                          {
                                      $('#logoutBtn').hide()
                                        $('#loginBtn').show()
        }

    aviastudentAPI.onTelemetryUpdate = function(vehicle_id, timestamp, tel_data) {
      // console.log('RonTelemetryUpdate default handler: ', vehicle_id, JSON.stringify(tel_data));
                      $('#example').removeClass('hidden');
                      var t = $('#example').DataTable();
                      t.row.add( [
                                  vehicle_id,
                                  timestamp,
                                  JSON.stringify(tel_data)
                              ] ).draw();
              }

  $('#logoutBtn').hide()
  $('#loginBtn').hide()

   function statusChangeCallback(response) {
    
    if (response.status === 'connected') {
              aviastudentAPI.loginFacebook(response.authResponse.accessToken)

    } else if (response.status === 'not_authorized') {
    
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
  
    }


  }
   function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  }

    
    
    $(document).ready(function () {
                $('#example').addClass('hidden');

                 $('#example').dataTable( {
                  "searching": false,
                  "lengthChange": false,
                   "pageLength": 50
                } );
                  var t = $('#example').DataTable();
                  t.order( [ 1, 'desc' ] ).draw();
                 if(aviastudentAPI.isLoggedIn()){
                    $('#logoutBtn').hide();
                   $('#loginBtn').show();
                  }
                else {
                    $('#logoutBtn').show();
                   $('#loginBtn').hide();
                      
                }

                $('#logoutBtn').on('click', function(event) {
                  aviastudentAPI.logOut();
                });

                aviastudentAPI.get( "api/v1/users/")
              .done(function( data ) {
                  console.log(data)
               
              });

    });
  </script>

 <div>
 <h1>Aviastudent</h1>

 <p>
   <ul>
 
   <p>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" size="large" id="loginBtn" hidden>
    </fb:login-button>
    </p>
   <p>
    <button id="logoutBtn" class="btn btn-info" role="button" hidden>Logout</button>
   </p>
 </p>
 </div>
<!--   <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->
<!-- <p>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="Follow us online!" data-via="aviastudent">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p> -->
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Vehicle ID</th>
                <th>Timestamp</th>
                <th>Telemetry data</th>
            </tr>
        </thead>
 
     
    </table>


<div id="status">
</div>


{% endblock %}